[Desktop Entry]
Exec=AppleTvSaver
Icon=kscreensaver
Type=Service
X-KDE-ServiceTypes=ScreenSaver
TryExec=xscreensaver
Actions=InWindow;Root;Setup;
X-KDE-Category=OpenGL Screen Savers
X-KDE-Type=OpenGL
Name=AppleTv

[Desktop Action Setup]
Exec=kxsconfig AppleTvSaver
Name=Setup...
Icon=kscreensaver

[Desktop Action InWindow]
Exec=kxsrun AppleTvSaver -- -window-id %w
Name=AppleTV
NoDisplay=true

[Desktop Action Root]
Exec=kxsrun AppleTvSaver -- -root
Name=Display in Root Window
NoDisplay=true
